body {
    background-color: lightyellow;
}

.heading {
    text-align: center;
    color: white;
}

span {
    color: black;
}

.main {
    margin-top: 2em;
}

.greetMessage {
    margin-top: 2em;
    background-color: crimson;
    color: white;
    text-align: center;
}

.greetMess {
    margin-top: 2em;
    background-color: darkolivegreen;
    color: white;
    text-align: center;
}

h4 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

